  <div class="logo-wrapper">
    <a href="{{ url }}" class="sidebar__logo-link js-sidebar-logo" aria-label="Home">
      <span class="visually-hidden">Home</span>
      {# Dark logo with colored asterisk #}
      <svg class="sidebar__logo">
        <use xlink:href="#logo-on-light"></use>
      </svg>
    </a>
  </div>